section.form-section
    .container
        .title
            h2.title__header Get Free Facebook Analysis Now
            .title__text Enter your details below
        
        .btn-down: a.arrow-down: i.fa.fa-angle.down 

        .form-container
            form(method='post' action='#').form
                button(type='button').form__close-button x
                .form__text
                    Et anim reprehenderit ea Lorem minim adipisicing deserunt ad aliqua exercitation nulla enim. 
                    Cillum in incididunt cupidatat culpa excepteur est minim velit mollit in in nisi ipsum. 
                    Eu amet duis magna excepteur exercitation adipisicing fugiat aute deserunt.
                
                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")
                
                button(type="submit").button.button--red.button--text-uppercase Submit now